.mitLicenseFont{
    background-color: aqua;
    text-align: center;
    word-wrap: normal;
    font-style: oblique;
    font-size: 2em;
}

.textLicenseFont{
    background-color: white;
    text-align: center;
    font-style: normal;
    font-size: 1em;
    width: 80%;
    
}
