.mitLicenseFont{
    background-color: aqua;
    text-align: center;
    word-wrap: normal;
    font-style: oblique;
    font-size: 2em;
}
.textLicenseFont{
    background-color: white;
    text-align: center;
    word-wrap: normal;
    font-style: normal;
    width: 60%;
    font-size: 1em;
}
