
.mitLicenseFont{
    background-color: lightseagreen;
    text-align: center;
    word-wrap: normal;
    font-style: oblique;
    font-size: 2em;
}

.textLicenseFont{
    text-align: center;
    font-style: normal;
    font-size: 1em;
    word-wrap: normal; 
}

.bootstraptext{
    text-align: left;
    font-style: normal;
    font-size: 2em;
    word-wrap: normal; 
    width: 50 px;
}

.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5 px;
    height: 70vh;

}
header,footer{
    grid-column: 1/4;
}
header, aside,article,footer{
    border-style: solid;
    background: silver;
}